button{
    margin: clamp(0.2rem, 1vw, 1rem);
    width: clamp(55px, 8vw, 90px);
    border-radius: 1rem;
    height: clamp(2rem, 4vw, 3rem);
}
.prev-btn{
    background-color: red;
    
}
.next-btn{
    background-color: green;
    
}