*{
  background-image: url("/images/Pokedex.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: contain;
  background-color: green;
}

